<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
        <!--    INDEX    -->        
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> Estudiante
                                <button type="button" class="btn btn-success" @click="abrirModal('Registrar estudiante.', 'cre')">
                                    &nbsp;Nuevo
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <select class="form-control col-md-3" v-model="criterio">
                                                <option value="matricula">Matricula</option>
                                                <option value="nombre">Nombre</option>
                                            </select>
                                            <input v-if="criterio == 'matricula'" type="text" v-model="buscar" @keyup.enter="listarEstudiante(1, buscar, criterio)" class="form-control" placeholder="Usuario a buscar">
                                            <input v-if="criterio == 'nombre'" type="text" v-model="buscar" @keyup.enter="listarEstudiante(1, buscar, criterio)" class="form-control" placeholder="Usuario a buscar">
                                            <button type="submit" @click="listarEstudiante(1, buscar, criterio)" class="btn btn-primary"> Buscar</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-success" @click="listarEstudiante(1,'','')"> Recargar</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Opciones</th>
                                            <th>Matricula</th>
                                            <th>Nombre</th>
                                            <th>Email</th>
                                            <th>Telefono</th>
                                            <th>Carrera</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in lista_estudiantes">
                                            <td width="8%">
                                                <button type="button" class="btn btn-warning btn-sm" @click="abrirModal('Actualizar estudiante', 'upd', item)"> Actualizar </button>
                                            </td>
                                            <td v-text="item.matricula">  </td>  
                                            <td v-text="item.estudiante">  </td>  
                                            <td v-text="item.email">  </td>  
                                            <td v-text="item.telefono">  </td>  
                                            <td v-text="item.carrera">  </td>  
                                        </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar, criterio)">Ant</a>
                                        </li>
                                        <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar, criterio)" v-text="pagina"></a>
                                        </li>
                                        <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar, criterio)">Sig</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </template>
        <!---->

        <!--    FORM AGREGAR/ACTUALIZAR    -->
                <template v-if="flag_nuevo == 1">
                    <div class="" style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                <font v-text="titulo_modal" size="6"> </font>
                                <table class="table">
                                    <tr v-if="accion == 1">
                                        <td>    <font size="3"> Matrícula: </font>    </td>
                                        <td>    <input type="text" v-model="matricula" class="form-control" placeholder="Matricula del estudiante">    </td>
                                    </tr>

                                    <tr>
                                        <td>    <font size="3"> Nombre: </font>    </td>
                                        <td>    <input type="text" v-model="nombre" class="form-control" placeholder="Nombre del estudiante">   </td>
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Email: </font>    </td>
                                        <td>    <input type="text" v-model="email" class="form-control" placeholder="Email del estudiante">   </td>                                        
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Telefono: </font>    </td>
                                        <td>    <input type="text" v-model="telefono" class="form-control" placeholder="Telefono del estudiante">   </td>                                        
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Carrera: </font>    </td>
                                        <td>
                                            <select class="form-control" v-model="id_carrera">
                                                <option value="0">Selecciona carrera</option>
                                                <option v-for="item in lista_carreras" v-text="item.carrera" :value="item.id"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" @click="init()">Atrás</button>
                                            <button type="button" class="btn btn-primary" v-if="accion==1" @click="registrar()">Registrar</button>
                                            <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizar()">Actualizar</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </template>
        <!---->
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                matricula: '',
                lista_carreras: [],
                lista_estudiantes: [],
                buscar: '',
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                accion: 0,
                flag_nuevo: 0,
                nombre: '',
                id_carrera: 0,
                telefono: '',
                email: '',
                criterio: 'matricula'
            }
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            init() {
                this.error = 0;
                this.accion = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.nombre = '';
                this.matricula = '';
                this.telefono = '';
                this.email = '';
                this.id_carrera = 0;
                this.flag_nuevo = 0;
                this.errores = [];
                this.buscar = '';
            },
            cambiarPagina(pagina, buscar, criterio) {
                this.paginacion.pagina_actual = pagina;
                this.listarEstudiante(pagina, buscar, criterio);
            },
            getCarreras() {
                let me = this;
                axios.get( '/carreras' )
                    .then( function(res){
                        me.lista_carreras = res.data.carreras; } )
                    .catch( function(error){
                        console.log(error); } )
            },
            listarEstudiante(pagina, buscar, criterio) {
                let me = this;
                axios.get( '/estudiante?page=' + pagina + '&buscar=' + buscar + '&criterio=' + criterio )
                    .then( function(res){
                        me.lista_estudiantes = res.data.estudiantes.data;
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.matricula) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa la matrícula del estudiante');
                }
                if(!me.nombre) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el nombre del estudiante');
                }
                if(!me.email) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el email del estudiante');
                }
                if(!me.telefono) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el telefono del estudiante');
                }
                if(me.id_carrera == 0) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona la carrera del estudiante');
                }
                return me.error == 1 ? false : true;
            },
            registrar() {
                let me = this;
                if( me.validar() ) {
                    axios.post('/estudiante', {
                            'matricula': me.matricula,
                            'nombre': me.nombre,
                            'email': me.email,
                            'id_carrera': me.id_carrera,
                            'telefono': me.telefono,
                        } )
                        .then( function(res){
                            me.init();
                            swal({ type: 'success', title: 'El registro se ha guardado!', showConfirmButton: false, timer: 1500 })
                            me.listarEstudiante( 1, me.buscar, me.criterio );
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
            },
            actualizar() {
                let me = this;
                if( me.validar() ) {
                    axios.put('/estudiante/' + me.matricula, {
                        'matricula': me.matricula,
                        'nombre': me.nombre,
                        'email': me.email,
                        'id_carrera': me.id_carrera,
                        'telefono': me.telefono,
                    })
                    .then( function(res){
                        me.init();
                        swal({ title: "Información", text: "El registro se ha actualizado!", icon: "success", button: "Aceptar", });
                        me.listarEstudiante( 1, me.buscar, me.criterio );
                    } )
                    .catch( function(error){
                        console.log('Error: ' + error)
                    } );
                }
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.getCarreras();
                if(accion == 'cre') {
                    this.modal = 1;
                    this.accion = 1;
                }
                else if(accion == 'upd'){
                    this.modal = 1;
                    this.accion = 2;
                    this.matricula = data.matricula;
                    this.nombre = data.estudiante;
                    this.email = data.email;
                    this.telefono = data.telefono;
                    this.id_carrera = data.id_carrera;
                }
            },
        },
        mounted() {
            console.log('Componente Estudiante mounted.')
            this.listarEstudiante( 1, this.buscar, this.criterio );
        }
    }
</script>
<style>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .error{
        text-align: center;
        color: #B22305;
        font-style: oblique;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
