<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-body">
                        <center>
                            <img src="/images/fondo2.jpg" alt="Error" width="50%" class="img-rounded">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component GENERAL mounted.')
        }
    }
</script>
<style>
    h1{
        text-align: center
    }
</style>
