<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
        <!--    INDEX    -->        
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> Materia
                                <button type="button" class="btn btn-success" @click="abrirModal('Registrar materia.', 'cre')">
                                    &nbsp;Nuevo
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" v-model="buscar" @keyup.enter="listarMateria(1, buscar)" class="form-control" placeholder="Materia a buscar">
                                            <button type="submit" @click="listarMateria(1, buscar)" class="btn btn-primary"> Buscar</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-success" @click="listarMateria(1,'','')"> Recargar</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Opciones</th>
                                            <th>Materia</th>
                                            <th>Creditos</th>
                                            <th>Carrera</th>
                                            <th>Semestre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in lista_materias">
                                            <td width="15%">
                                                <button type="button" class="btn btn-warning btn-sm" @click="abrirModal('Actualizar materia', 'upd', item)"> Actualizar </button>
                                            </td>
                                            <td v-text="item.materia">  </td>  
                                            <td v-text="item.creditos">  </td>  
                                            <td v-text="item.carrera">  </td>  
                                            <td v-text="item.semestre">  </td>  
                                        </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">Ant</a>
                                        </li>
                                        <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                        </li>
                                        <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">Sig</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </template>
        <!---->

        <!--    FORM AGREGAR/ACTUALIZAR    -->
                <template v-if="flag_nuevo == 1">
                    <div class="" style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                <font v-text="titulo_modal" size="6"> </font>
                                <table class="table">
                                    <tr v-if="accion == 1">
                                        <td>    <font size="3"> Clave: </font>    </td>
                                        <td>    <input type="text" v-model="clave" class="form-control" placeholder="Clave de la materia">    </td>
                                    </tr>

                                    <tr>
                                        <td>    <font size="3"> Materia: </font>    </td>
                                        <td>    <input type="text" v-model="materia" class="form-control" placeholder="Nombre de la materia">   </td>
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Creditos: </font>    </td>
                                        <td>    
                                            <select class="form-control" v-model="creditos">
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="8">8</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Carrera: </font>    </td>
                                        <td>
                                            <select class="form-control" v-model="id_carrera">
                                                <option value="0">Selecciona carrera</option>
                                                <option v-for="item in lista_carreras" v-text="item.carrera" :value="item.id"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Semestre: </font>    </td>
                                        <td>
                                            <select class="form-control" v-model="id_semestre">
                                                <option value="0">Selecciona semestre</option>
                                                <option v-for="item in lista_semestres" v-text="item.semestre" :value="item.id"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" @click="init()">Atrás</button>
                                            <button type="button" class="btn btn-primary" v-if="accion==1" @click="registrar()">Registrar</button>
                                            <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizar()">Actualizar</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </template>
        <!---->
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                clave: '',
                lista_materias: [],
                lista_carreras: [],
                lista_semestres: [],
                buscar: '',
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                accion: 0,
                flag_nuevo: 0,
                clave: '',
                materia: '',
                id_carrera: 0,
                id_semestre: 0,
                creditos: 5,
            }
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            init() {
                this.error = 0;
                this.accion = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.materia = '';
                this.clave = '';
                this.creditos = 5;
                this.id_carrera = 0;
                this.id_semestre = 0;
                this.flag_nuevo = 0;
                this.errores = [];
                this.buscar = '';
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina;
                this.listarMateria(pagina, buscar);
            },
            getCarreras() {
                let me = this;
                axios.get( '/carreras' )
                    .then( function(res){
                        me.lista_carreras = res.data.carreras; } )
                    .catch( function(error){
                        console.log(error); } )
            },
            getSemestres() {
                let me = this;
                axios.get( '/semestres' )
                    .then( function(res){
                        me.lista_semestres = res.data.semestres; } )
                    .catch( function(error){
                        console.log(error); } )
            },
            listarMateria(pagina, buscar) {
                let me = this;
                axios.get( '/materia?page=' + pagina + '&buscar=' + buscar )
                    .then( function(res){
                        me.lista_materias = res.data.materias.data;
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.clave) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa la clave de la materia');
                }
                if(!me.materia) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el nombre de la materia');
                }
                if(me.id_carrera == 0) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona la carrera de la materia');
                }
                if(me.id_semestre == 0) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona el semestre de la materia');
                }
                return me.error == 1 ? false : true;
            },

            registrar() {
                let me = this;
                if( me.validar() ) {
                    axios.post('/materia', {
                            'clave': me.clave,
                            'materia': me.materia,
                            'creditos': me.creditos,
                            'id_carrera': me.id_carrera,
                            'id_semestre': me.id_semestre,
                        } )
                        .then( function(res){
                            me.init();
                            swal({ type: 'success', title: 'El registro se ha guardado!', showConfirmButton: false, timer: 1500 })
                            me.listarMateria( 1, me.buscar );
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
            },
            actualizar() {
                let me = this;
                if( me.validar() ) {
                    axios.put('/materia/' + me.clave, {
                        'clave': me.clave,
                        'materia': me.materia,
                        'creditos': me.creditos,
                        'id_carrera': me.id_carrera,
                        'id_semestre': me.id_semestre,
                    })
                    .then( function(res){
                        me.init();
                        swal({ title: "Información", text: "El registro se ha actualizado!", icon: "success", button: "Aceptar", });
                        me.listarMateria( 1, me.buscar );
                    } )
                    .catch( function(error){
                        console.log('Error: ' + error)
                    } );
                }
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.getCarreras();
                this.getSemestres();
                if(accion == 'cre') {
                    this.modal = 1;
                    this.accion = 1;
                }
                else if(accion == 'upd'){
                    this.modal = 1;
                    this.accion = 2;
                    this.clave = data.clave;
                    this.materia = data.materia;
                    this.creditos = data.creditos;
                    this.id_carrera = data.id_carrera;
                    this.id_semestre = data.id_semestre;
                }
            },
        },
        mounted() {
            console.log('Componente Materia mounted.')
            this.listarMateria( 1, this.buscar );
        }
    }
</script>
<style>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .error{
        text-align: center;
        color: #B22305;
        font-style: oblique;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
