<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="accion == 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> 
                                <h3 style="color:#666; text-align:center"> Materias solicitadas </h3>
                            </div>
                            <div class="card-body">
                                <center>
                                    <div v-if="materias.length >= 1" >
                                        <table class="table table-bordered table-striped table-sm" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Clave</th>
                                                    <th>Materia</th>
                                                    <th colspan="2">Coordinador</th>
                                                    <th>Carrera</th>
                                                    <th>Profesor</th>
                                                    <th colspan="2">Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in materias">
                                                    <td v-text="item.id"></td>  
                                                    <td v-text="item.clave_materia"></td>  
                                                    <td v-text="item.materia"></td>  
                                                    <td v-text="item.name"></td>  
                                                    <td v-text="item.email"></td>  
                                                    <td v-text="item.carrera"></td>  
                                                    <td v-if="item.clave_profesor" v-text="item.nombre_profesor"></td>  
                                                    <td v-else>
                                                        <span class="badge badge-secondary" style="width:100%"> Sin profesor asignado </span>
                                                    </td>
                                                    <td>
                                                        <span v-if="item.aprobada==1" class="badge badge-success" style="width:100%">Aprobada</span>
                                                        <span v-if="item.aprobada==0" class="badge badge-danger" style="width:100%">Rechazada</span>
                                                        <span v-if="item.aprobada==2" class="badge badge-warning" style="width:100%">Pendiente</span>
                                                    </td>
                                                    <td> 
                                                        <button class="btn btn-primary btn-sm" @click="verDetalle(item)"> Ver detalles </button> 
                                                        <button v-if="item.aprobada==1" class="btn btn-success btn-sm" @click="generarPDF(item)"> PDF </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <td colspan="9">
                                                    <nav style="float:right">
                                                        <ul class="pagination">
                                                            <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1)">Ant</a>
                                                            </li>
                                                            <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                                                <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina)" v-text="pagina"></a>
                                                            </li>
                                                            <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                                                <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1)">Sig</a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </td>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <h4 v-else> Sin materias solicitadas. </h4>
                                </center>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="accion == 1">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> 
                                <h3 style="color:#666; text-align:center"> Detalle de la materia solicitada </h3>
                            </div>
                            <div class="card-body">
                                <center>
                                    <table class="table  table-striped table-sm" style="width: 70%">
                                        <thead>
                                            <tr>
                                                <td colspan="5"> 
                                                    <h4>Materia</h4> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Clave: </th>
                                                <td v-text="clave_materia"></td>
                                                <td></td>
                                                <th>Materia:</th>
                                                <td v-text="materia"></td>
                                            </tr>
                                            <tr>
                                                <th>Estado:</th>
                                                <td>
                                                    <span v-if="estado == 2" class="badge badge-warning">Pendiente</span> 
                                                    <span v-if="estado == 1" class="badge badge-success">Aprobada</span> 
                                                    <span v-if="estado == 0" class="badge badge-danger">No aprobada</span> 
                                                </td>
                                                <td></td>
                                                <th>Creditos:</th>
                                                <td v-text="creditos"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <h4>Carrera</h4> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Carrera:</th>
                                                <td v-text="carrera"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <h4>Coordinador</h4> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Coordinador:</th>
                                                <td v-text="coordinador"></td>
                                                <td></td>
                                                <th>Email:</th>
                                                <td v-text="email"></td>
                                            </tr>
                                            <tr>
                                                <th>Direccion:</th>
                                                <td v-text="direccion"></td>
                                                <td></td>
                                                <th>Telefono:</th>
                                                <td v-text="telefono"></td>
                                            </tr>
                                            <tr v-if="estado == 2 || estado == 1">
                                                <td colspan="5">
                                                    <h4>Profesor</h4> 
                                                </td>
                                            </tr>
                                            <tr v-if="estado == 2">
                                                <th>Profesor:</th>
                                                <td>
                                                    <v-select 
                                                        :on-search="getProfesores"
                                                        label="profesor"
                                                        :options="profesores"
                                                        placeholder="Buscando profesores..."
                                                        :on-change="getDatosProfesor">
                                                    </v-select>
                                                </td>
                                            </tr>
                                            <tr v-if="estado == 1 || clave_profesor != null">
                                                <th>Clave</th>
                                                <th>Nombre</th>
                                                <th>Email</th>
                                                <th>Telefono</th>
                                                <th>Area</th>
                                            </tr>
                                            <tr v-if="estado == 2 || estado == 1">
                                                <td v-text="clave_profesor"></td>
                                                <td v-text="nombre_profesor"></td>
                                                <td v-text="email_profesor"></td>
                                                <td v-text="telefono_profesor"></td>
                                                <td v-text="area_profesor"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <div style="float:right">
                                                        <button v-if="estado == 2" class="btn btn-success btn-sm" @click="aprobar(1)">Aprobar</button>
                                                        <button v-if="estado == 2" class="btn btn-warning btn-sm" @click="aprobar(0)">No aprobar</button>
                                                        <a bind-href="'/job/'id">Ver lista</a>
                                                        <button class="btn btn-primary btn-sm" @click="verLista()">Ver lista</button>
                                                        <button class="btn btn-danger btn-sm" @click="atras()">Atrás</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>    
                                    </table>
                                </center>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="accion == 2">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> 
                                <h3 style="color:#666; text-align:center"> Lista de la materia: {{ materia.materia }} </h3>
                            </div>
                            <div class="card-body">
                                <center>
                                    <table class="table table-bordered table-striped table-sm" style="width: 70%">
                                        <thead>
                                            <tr>
                                                <th>Matricula</th>
                                                <th>Nombre</th>
                                                <th>Email</th>
                                                <th>Telefono</th>
                                                <th>Carrera</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in listado">
                                                <td v-text="item.estudiante_matricula"></td>  
                                                <td v-text="item.estudiante_nombre"></td>  
                                                <td v-text="item.estudiante_email"></td>  
                                                <td v-text="item.estudiante_telefono"></td>  
                                                <td v-text="item.estudiante_carrera"></td>  
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group row">
                                        <div class="col-md-7"></div>
                                        <div class="col-md-3">
                                            <input type="button" class="btn btn-danger" value="Atrás" @click="atras()">
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import vSelect from 'vue-select';
    export default {
        data() {
            return {
                id: 0,
                clave_materia: '',
                materia: '',
                creditos: 0,
                carrera: '',
                coordinador: '',
                email: '',
                direccion: '',
                telefono: '',
                profesores: [],
                estado: 0,
                materias: [],
                accion: 0,
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                clave_profesor: '',
                nombre_profesor: '',
                email_profesor: '',
                telefono_profesor: '',
                area_profesor: '',
                listado: []
            }
        },
        components: {
            vSelect
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                var paginas_arreglo = [];
                var hasta = desde + (this.offset * 2);
                if(desde < 1) desde = 1;
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            cambiarPagina(pagina) {
                this.paginacion.pagina_actual = pagina;
                this.listarMateriasSolicitadas(pagina);
            },
            listarMateriasSolicitadas(pagina) {
                let me = this;
                axios.get( '/materias_solicitadas_jefe?page=' + pagina )
                    .then( function(res){ 
                        me.materias = res.data.materias.data; 
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            getProfesores() {
                let me = this;
                axios.get( '/profesores' )
                    .then( function(res){ 
                        me.profesores = res.data.profesores; 
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            getDatosProfesor(valor) {
                if(valor){
                    this.loading = true;
                    this.clave_profesor = valor.clave;
                    this.nombre_profesor = valor.profesor;
                    this.telefono_profesor = valor.telefono;
                    this.email_profesor = valor.email;
                    this.area_profesor = valor.area;
                }
                else{
                    this.loading = false;
                    this.clave_profesor = null;
                    this.nombre_profesor = '';
                    this.telefono_profesor = '';
                    this.email_profesor = '';
                    this.area_profesor = '';
                }
            },
            verDetalle( item ) {
                this.id = item.id;
                this.clave_materia = item.clave_materia;
                this.materia = item.materia;
                this.carrera = item.carrera;
                this.creditos = item.creditos;
                this.coordinador = item.name;
                this.email = item.email;
                this.direccion = item.direccion;
                this.telefono = item.telefono;
                this.estado = item.aprobada;
                this.clave_profesor = item.clave_profesor;
                this.nombre_profesor = item.nombre_profesor;
                this.email_profesor = item.email_profesor;
                this.telefono_profesor = item.telefono_profesor;
                this.area_profesor = item.area;
                this.accion = 1;
            },
            atras() {
                this.accion = 0;
                this.clave_profesor = '';
                this.nombre_profesor = '';
                this.telefono_profesor = '';
                this.email_profesor = '';
                this.area_profesor = '';
                this.estado = 0;
                this.carrera = '';
                this.clave_materia = '';
                this.coordinador = '';
                this.creditos = 0;
                this.direccion = '';
                this.email = '';
                this.id = 0;
                this.materia = 0;
                this.telefono = '';
                this.listarMateriasSolicitadas();
                this.listado = [];
            },
            aprobar( aprobada ){
                if( this.clave_profesor == null )
                    return swal({ type: 'error', title: 'Error', text: 'Selecciona el profesor de la materia.'})
                let me = this;
                const swalWithBootstrapButtons = swal.mixin({
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                })
                let titulo = aprobada == 1 ? 'Está seguro de aprobar ésta materia?' : 'Rechazar solicitud de ésta materia?';
                let mensaje = aprobada == 1 ? 'Materia aprobada!' : 'Solicitud no aprobada';
                let url = aprobada == 1 ? '/materias_solicitadas_jefe/aprobar/id' : '/materias_solicitadas_jefe/no_aprobar/id';
                if(aprobada == 1) {
                    if(this.clave_profesor == '') return swal({ type: 'error', title: 'Asigna un profesor a la materia solicitada!', showConfirmButton: false, timer: 1800 });
                        swalWithBootstrapButtons({
                            title: titulo, type: 'warning', showCancelButton: true, confirmButtonText: 'Aceptar',cancelButtonText: 'Cancelar', reverseButtons: true
                        })
                        .then((result) => {
                            if (result.value) {
                                let me = this;
                                axios.put(url, {
                                    'id': me.id,
                                    'clave_profesor': me.clave_profesor
                                })
                                .then( function(res){
                                    swal({ type: 'success', title: mensaje, showConfirmButton: false, timer: 1500 })
                                    me.listarMateriasSolicitadas();
                                    me.atras();
                                } )
                                .catch( function(error){;
                                    console.log(error);
                                } )
                            } else if ( result.dismiss === swal.DismissReason.cancel ) { }
                        })
                }
                else {
                    swalWithBootstrapButtons({
                            title: titulo, type: 'warning', showCancelButton: true, confirmButtonText: 'Aceptar',cancelButtonText: 'Cancelar', reverseButtons: true
                        })
                        .then((result) => {
                            if (result.value) {
                                let me = this;
                                axios.put(url, {
                                    'id': me.id,
                                })
                                .then( function(res){
                                    swal({ type: 'success', title: mensaje, showConfirmButton: false, timer: 1500 })
                                    me.listarMateriasSolicitadas();
                                    me.atras();
                                } )
                                .catch( function(error){;
                                    console.log(error);
                                } )
                            } else if ( result.dismiss === swal.DismissReason.cancel ) { }
                        })
                }
                
                
            },
            generarPDF( item ) {
                window.open( 'http://localhost:8000/materias_solicitadas/pdf/' + item.id, '_blank' );
            },
            verLista() {
                this.accion = 2;
                this.getListadoMateriaSolicitada();
            },
            getListadoMateriaSolicitada() {
                let me = this;
                axios.get( '/lista_materia/' + me.id )
                    .then( function(res){ 
                        me.listado = res.data.listado; 
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
        },
        mounted() {
            console.log('Componente Materias Solicitadas Jefe mounted.')
            this.listarMateriasSolicitadas();
        }
    }
</script>
<style>
h4{
    color: #3D3D3F; 
    background: #E1E3E8; 
    padding: 1%; 
    text-align:center
}
</style>
