<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template  v-if="lista == 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> 
                                <h3 style="color:#666; text-align:center"> Materias solicitadas </h3>
                            </div>
                            <div class="card-body">
                                <center>
                                    <table v-if="materias.length >= 1" class="table table-bordered table-striped table-sm" style="width: 70%">
                                        <thead>
                                            <tr>
                                                <th>Clave</th>
                                                <th>Materia</th>
                                                <th>Carrera</th>
                                                <th>Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in materias">
                                                <td v-text="item.clave_materia"></td>  
                                                <td v-text="item.materia"></td>  
                                                <td v-text="item.carrera"></td>  
                                                <td>
                                                    <span v-if="item.aprobada==1" class="badge badge-success" style="width:100%">Aprobada</span>
                                                    <span v-if="item.aprobada==0" class="badge badge-danger" style="width:100%">Rechazada</span>
                                                    <span v-if="item.aprobada==2" class="badge badge-warning" style="width:100%">Pendiente</span>
                                                </td>
                                                <td> <button v-if="item.aprobada == 2 || item.aprobada == 1" class="btn btn-primary" @click="agregarLista(item)"> Lista </button> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h4 v-else> Aún no has solicitado materias. </h4>    
                                </center>
                            </div>
                        </div>
                    </div>
                </template>

                <template v-if="lista == 1 && cantidad > 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> 
                                <h3 style="color:#666; text-align:center"> Lista de la materia: {{ materia.materia }} </h3>
                            </div>
                            <div class="card-body">
                                <center>
                                    <table class="table table-bordered table-striped table-sm" style="width: 70%">
                                        <thead>
                                            <tr>
                                                <th>Matricula</th>
                                                <th>Nombre</th>
                                                <th>Email</th>
                                                <th>Telefono</th>
                                                <th>Carrera</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in listado">
                                                <td v-text="item.estudiante_matricula"></td>  
                                                <td v-text="item.estudiante_nombre"></td>  
                                                <td v-text="item.estudiante_email"></td>  
                                                <td v-text="item.estudiante_telefono"></td>  
                                                <td v-text="item.estudiante_carrera"></td>  
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group row">
                                        <div class="col-md-7"></div>
                                        <div class="col-md-3">
                                            <input type="button" class="btn btn-danger" value="Atrás" @click="cerrar()">
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </template>

                <template v-if="lista == 1 && cantidad == 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> 
                                <h3 style="color:#666; text-align:center"> Lista de la materia: {{ materia.materia }} </h3>
                            </div>
                            <div class="card-body">
                                <div style="float:left;">
                                    <table style="margin-bottom:1%;">
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control" v-model="matricula_estudiante" @keyup.enter="buscarEstudiante(matricula_estudiante)" placeholder="Matrícula del estudiante">
                                            </td>
                                            <td>
                                                <input value="Buscar" type="button" @click="buscarEstudiante(matricula_estudiante)" class="btn btn-success" >
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="float:left; margin-left:10%;">
                                    <table v-if="estudiante[0]" class="table table-sm">
                                        <tr>
                                            <td colspan="2"> <font size='4'> <b> Datos del estudiante: </b> </font> </td>
                                        </tr>
                                        <tr>
                                            <th>Matricula:</th>
                                            <td v-text="estudiante[0].matricula"></td>
                                        </tr>
                                        <tr>
                                            <th>Nombre:</th>
                                            <td v-text="estudiante[0].estudiante"></td>
                                        </tr>
                                        <tr>
                                            <th>Carrera:</th>
                                            <td v-text="estudiante[0].carrera"></td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input value="Agregar" type="button" @click="agregarEstudiante(estudiante[0])" class="btn btn-primary" >
                                            </td>
                                        </tr>
                                    </table>
                                    <font v-if="bandera" size='4'> Estudiante no encontrado </font>
                                </div>
                            </div>
                            <div class="card-body">
                                <center>
                                    <h3 v-if="lista_estudiantes.length >= 1" style="color: #555">Listado:</h3>
                                    <table v-if="lista_estudiantes.length >= 1" class="table table-bordered table-striped table-sm" style="width: 70%">
                                        <thead>
                                            <tr>
                                                <th>Matricula</th>
                                                <th>Nombre</th>
                                                <th>Email</th>
                                                <th>Telefono</th>
                                                <th>Carrera</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in lista_estudiantes">
                                                <td v-text="item.matricula"></td>  
                                                <td v-text="item.estudiante"></td>  
                                                <td v-text="item.email"></td>  
                                                <td v-text="item.telefono"></td>  
                                                <td v-text="item.carrera"></td>  
                                                <td>
                                                    <input type="button" @click="quitarDeLista(index)" class="btn btn-danger" value="Quitar">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group row">
                                        <div class="col-md-7"></div>
                                        <div class="col-md-3">
                                            <input type="button" class="btn btn-danger" value="Atrás" @click="cerrar()">
                                            <input v-if="materia.aprobada == 2 && lista_estudiantes.length >= 1" type="button" @click="agregarListaEstudiantes()" class="btn btn-primary" value="Guardar">
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </template>
                
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                materias: [],
                offset: 3,
                lista: 0,
                lista_estudiantes: [],
                materia: '',
                estudiante: '',
                matricula_estudiante: '', 
                bandera: false,
                id_materia_solicitada: '',
                clave_materia: '',
                cantidad: 0,
                listado: []
            }
        },
        methods: {
            getMateriasSolicitadas() {
                let me = this;
                axios.get( '/materias_solicitadas' )
                    .then( function(res){ 
                        me.materias = res.data.materias; 
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            getBanderaMateriaSolicitada() {
                let me = this;
                axios.get( '/bandera_listado/' + me.id_materia_solicitada )
                    .then( function(res){ 
                        me.cantidad = res.data.bandera; 
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            agregarEstudiante( data ) {
                for (let i = 0; i < this.lista_estudiantes.length; i++) {
                    if(data.matricula == this.lista_estudiantes[i].matricula)
                        return swal({ type: 'error', title: 'El estudiante ya se encuenta agregado a la lista.', showConfirmButton: false, timer: 1500 })
                }
                this.matricula_estudiante = ''
                this.estudiante = '';
                this.lista_estudiantes.push( data );
            },
            getListadoMateriaSolicitada( id ) {
                let me = this;
                axios.get( '/lista_materia/' + id )
                    .then( function(res){ 
                        me.listado = res.data.listado; 
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            agregarLista( data ) {
                this.lista = 1;
                this.materia = data;
                this.id_materia_solicitada = data.id_materia_solicitada;
                this.clave_materia = data.clave_materia;
                this.getBanderaMateriaSolicitada();
                this.getListadoMateriaSolicitada( this.id_materia_solicitada );
            },
            agregarListaEstudiantes() {
                let me = this;
                axios.post('/lista_materia', {
                        'id_materia': me.id_materia_solicitada,
                        'clave_materia': me.clave_materia,
                        'lista_estudiantes': me.lista_estudiantes
                    } )
                    .then( function(res){
                        console.log(res);
                        swal({ type: 'success', title: 'Lista de materia guardada!', showConfirmButton: false, timer: 1500 })
                        me.cerrar();

                    } )
                    .catch( function(error){
                        console.log('Error: ' + error)
                    } )
            },
            quitarDeLista(index) {
                this.lista_estudiantes.splice(index, 1);
            },
            cerrar() {
                this.lista = 0;
                this.materia = null;
                this.estudiante = '';
                this.matricula_estudiante = '';
                this.id_materia_solicitada = '';
                this.clave_materia = '';
                this.lista_estudiantes = [];
                this.cantidad = 0;
            },
            buscarEstudiante(matricula) {
                if(matricula == '') {
                    this.estudiante = '';
                    this.matricula_estudiante = '';
                    this.bandera = false;
                    return;
                }
                let me = this;
                axios.get( '/estudiantes/' + me.matricula_estudiante )
                    .then( function(res){
                        me.estudiante = res.data.estudiante;
                        if(me.estudiante.length == 0) me.bandera = true;
                        else me.bandera = false;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            }
        },
        mounted() {
            console.log('Componente Materias Solicitadas mounted.')
            this.getMateriasSolicitadas();
        }
    }
</script>