<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
            <!--CARRERAS-->
                <template  v-if="curriculum == 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> 
                                <h3 style="color:#666; text-align:center"> Plan de estudio </h3>
                            </div>
                            <div class="card-body">
                                <center>
                                    <table class="table table-bordered table-striped table-sm" style="width: 60%">
                                        <tbody>
                                            <tr v-for="item in lista_carreras">
                                                <td> <button class="btn btn-success" style="width: 100%" @click="verCurriculum(item)"> {{ item.carrera }} </button> </td>  
                                            </tr>
                                        </tbody>
                                    </table>
                                </center>
                            </div>
                        </div>
                    </div>
                </template>
            <!--CURRICULUM-->
                <template v-if="curriculum == 1">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header" v-if="materias_ya_seleccionadas.length"> 
                                <h3 style="color:#666; text-align:center"> {{this.carrera}} </h3>
                                <center>
                                    <font size="4" v-if="materias_ya_seleccionadas.length >= 1"> Materias a solicitar: </font>
                                    <table v-if="materias_ya_seleccionadas.length >= 1" class="table" style="width: 40%">
                                        <tr>
                                            <th> Clave: </th>
                                            <th> Materia: </th>
                                            <th> Carrera: </th>
                                        </tr>
                                        <tr v-if="materias_ya_seleccionadas.length >= 1" >
                                            <td v-text="materias_ya_seleccionadas[0].clave_materia"></td>
                                            <td v-text="materias_ya_seleccionadas[0].materia"></td>
                                            <td v-text="materias_ya_seleccionadas[0].carrera"></td>
                                        </tr>
                                        <tr v-if="materias_ya_seleccionadas.length == 2">
                                            <td v-text="materias_ya_seleccionadas[1].clave_materia"></td>
                                            <td v-text="materias_ya_seleccionadas[1].materia"></td>
                                            <td v-text="materias_ya_seleccionadas[1].carrera"></td>
                                        </tr>
                                    </table>
                                </center>
                            </div>
                        <!--INIT SEMESTRES-->
                            <div class="card-body">
                                <center>
                                    <template v-for="semestre in lista_semestres" >
                                        <div class="row" style="background:#eee;" >
                                            <div style="background:#ddd; width:10%;">
                                                <h1 style="color:#888">{{semestre.id_semestre}}</h1>
                                            </div>
                                            <template v-for="(materias_semestre, index) in lista_materias">
                                                <div v-for="materia in materias_semestre" >
                                                    <div v-if="materia.id_semestre == semestre.id_semestre" style="display:block;background:#eee; width:100%;margin-right:3px;">
                                                        <div>
                                                            <font size="4"> {{ materia.clave }} </font>
                                                        </div>
                                                        <div>
                                                            <button class="btn btn-success" @click="agregar(materia.clave, materia.materia)" style="width:100px;"> {{ materia.materia }} </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </template>
                                </center>
                                <div style="margin-top: 1%; float:right">
                                    <button class="btn btn-success" @click="solicitar()"> Solicitar </button>
                                    <button class="btn btn-danger" @click="atras()"> Atrás </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>
<script>
    export default {
        data() {
            return {
                id: 0,
                carrera: '',
                lista_carreras: [],
                buscar: '',
                menu:this.$root,
                curriculum: 0,
                lista_materias: [],
                lista_semestres: [],
                cantidad_materias: 0,
                materias_ya_seleccionadas: [],
                materias_temp: [],
                lista_original: [],
                nueva: []
            }
        },
        methods: {
            solicitar() {
                let me = this;
                if( me.materias_ya_seleccionadas.length == 0 ) 
                    return swal({ type: 'error', title: 'Selecciona materia', showConfirmButton: false, timer: 1500 })
                if( me.cantidad_materias == 0 ) {
                    for (let i = 0; i < me.materias_ya_seleccionadas.length; i++) {
                        me.nueva.push( me.materias_ya_seleccionadas[i].clave_materia );
                    }
                    axios.post('/materia_solicitada', {
                        'materias_seleccionadas': me.nueva,
                    } )
                    .then( function(res){
                        swal({ type: 'success', title: 'Materia(s) solicitada(s)!', showConfirmButton: false, timer: 1500 })
                        console.log(res);
                    } )
                    .catch( function(error){
                        console.log('Error: ' + error)
                    } )
                }
                else{
                    this.eliminarRepetidos();
                    for (let i = 0; i < me.lista_original.length; i++) 
                        axios.post('/materia_solicitada', {
                            'materias_seleccionadas': me.lista_original,
                        } )
                        .then( function(res){
                            swal({ type: 'success', title: 'Materia(s) solicitada(s)!', showConfirmButton: false, timer: 1500 })
                            console.log(res);
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
                me.nueva = [];      
                me.lista_original = [];
                this.curriculum = 0;
                this.$root.menu = 0;
            },
            eliminarRepetidos() {
                let me = this;    
                for (let i = 0; i < me.materias_ya_seleccionadas.length; i++) {
                    for (let j = 0; j < me.materias_temp.length; j++) {
                        if( me.materias_ya_seleccionadas[i].clave_materia != me.materias_temp[j].clave_materia ){
                            me.lista_original.push( me.materias_ya_seleccionadas[i].clave_materia );
                            break;
                        }
                    }   
                }
            },
            agregar( clave, materia ){
                if(this.materias_ya_seleccionadas.length < 2) {
                    for (var i=0; i<this.materias_ya_seleccionadas.length; i++) {
                        if(clave == this.materias_ya_seleccionadas[i].clave_materia){
                            swal({ type: 'error', title: 'Ya seleccionó la materia: ' + materia, showConfirmButton: false, timer: 1800 })
                            return true;
                        }
                    }
                    this.materias_ya_seleccionadas.push( {
                        'clave_materia': clave, 
                        'materia': materia,
                        'carrera': this.carrera
                    } );
                }
                else swal({ type: 'error', title: 'Puedes solicitar máximo 2 materias.', showConfirmButton: false, timer: 1800 })
            },
            listarCarrera( ) {
                let me = this;
                axios.get( '/carreras' )
                    .then( function(res){
                        me.lista_carreras = res.data.carreras;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            getCantidadMateriasSolicitadas() {
                let me = this;
                axios.get( '/cantidad-materias' )
                    .then( function(res){
                        me.cantidad_materias = res.data.cantidad;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            getMateriasSolicitadas() {
                let me = this;
                axios.get( '/materias_solicitadas' )
                    .then( function(res){ 
                        me.materias_ya_seleccionadas = res.data.materias; 
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            getMateriasSolicitadasTemp() {
                let me = this;
                axios.get( '/materias_solicitadas' )
                    .then( function(res){ 
                        me.materias_temp = res.data.materias; 
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            getCurriculum( id ) {
                let me = this;
                axios.get( '/curriculum_semestre/' + id )
                    .then( function(res){
                        me.lista_semestres = res.data.semestres;
                        me.lista_materias = res.data.curriculum;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            verCurriculum(data){
                if( this.cantidad_materias >= 2 ) 
                    return swal({ type: 'error', title: 'Ya has solicitado tus 2 materias permitidas.', showConfirmButton: false, timer: 1800 })
                else if( this.cantidad_materias < 2 ) {
                    this.curriculum = 1;
                    this.id = data.id;
                    this.carrera = data.carrera;
                    this.menu = 10;
                    this.getCurriculum( this.id ); 
                }
            },
            atras(){
                this.curriculum = 0;
                this.id = 0;
                this.carrera = '';
                this.cuadricula = [];
                this.lista_semestres = [];
                this.lista_materias = [];
            },
        },
        mounted() {
            console.log('Componente Plan de Estudio mounted.')
            this.listarCarrera();
            this.getCantidadMateriasSolicitadas();
            this.getMateriasSolicitadas();
            this.getMateriasSolicitadasTemp();
        }
    }
</script>