<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
        <!--    INDEX    -->        
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> Profesor
                                <button type="button" class="btn btn-success" @click="abrirModal('Registrar profesor.', 'cre')">
                                    &nbsp;Nuevo
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" v-model="buscar" @keyup.enter="listarProfesor(1, buscar)" class="form-control" placeholder="Profesor a buscar">
                                            <button type="submit" @click="listarProfesor(1, buscar)" class="btn btn-primary"> Buscar</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-success" @click="listarProfesor(1,'','')"> Recargar</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Opciones</th>
                                            <th>Clave</th>
                                            <th>Nombre</th>
                                            <th>Email</th>
                                            <th>Telefono</th>
                                            <th>Area</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in lista_profesores">
                                            <td width="8%">
                                                <button type="button" class="btn btn-warning btn-sm" @click="abrirModal('Actualizar profesor', 'upd', item)"> Actualizar </button>
                                            </td>
                                            <td width="8%">
                                                <button v-if="item.estado == 1" type="button" class="btn btn-danger btn-sm" @click="activar(item.clave, 0)"> Desactivar </button>
                                                <button v-else type="button" class="btn btn-success btn-sm" @click="activar(item.clave, 1)"> Activar </button>
                                            </td>
                                            <td v-text="item.clave">  </td>  
                                            <td v-text="item.profesor">  </td>  
                                            <td v-text="item.email">  </td>  
                                            <td v-text="item.telefono">  </td>  
                                            <td v-text="item.area">  </td>  
                                            <td >
                                                <span class="badge badge-success" v-if="item.estado == 1">Alta</span>
                                                <span class="badge badge-warning" v-else>Baja</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">Ant</a>
                                        </li>
                                        <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                        </li>
                                        <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">Sig</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </template>
        <!---->

        <!--    FORM AGREGAR/ACTUALIZAR    -->
                <template v-if="flag_nuevo == 1">
                    <div class="" style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                <font v-text="titulo_modal" size="6"> </font>
                                <table class="table">
                                    <tr v-if="accion == 1">
                                        <td>    <font size="3"> Clave: </font>    </td>
                                        <td>    <input type="text" v-model="clave" class="form-control" placeholder="Clave del profesor">    </td>
                                    </tr>

                                    <tr>
                                        <td>    <font size="3"> Nombre: </font>    </td>
                                        <td>    <input type="text" v-model="nombre" class="form-control" placeholder="Nombre del profesor">   </td>
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Email: </font>    </td>
                                        <td>    <input type="text" v-model="email" class="form-control" placeholder="Email del profesor">   </td>                                        
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Telefono: </font>    </td>
                                        <td>    <input type="text" v-model="telefono" class="form-control" placeholder="Telefono del profesor">   </td>                                        
                                    </tr>
                                    <tr>
                                        <td>    <font size="3"> Area: </font>    </td>
                                        <td>
                                            <select class="form-control" v-model="id_area">
                                                <option value="0">Selecciona area</option>
                                                <option v-for="item in lista_areas" v-text="item.area" :value="item.id"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" @click="init()">Atrás</button>
                                            <button type="button" class="btn btn-primary" v-if="accion==1" @click="registrar()">Registrar</button>
                                            <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizar()">Actualizar</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </template>
        <!---->
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                clave: '',
                lista_areas: [],
                lista_profesores: [],
                buscar: '',
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                accion: 0,
                flag_nuevo: 0,
                clave: '',
                nombre: '',
                id_area: 0,
                telefono: '',
                email: '',
            }
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            init() {
                this.error = 0;
                this.accion = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.nombre = '';
                this.clave = '';
                this.telefono = '';
                this.email = '';
                this.id_area = 0;
                this.flag_nuevo = 0;
                this.errores = [];
                this.buscar = '';
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina;
                this.listarProfesor(pagina, buscar);
            },
            getAreas() {
                let me = this;
                axios.get( '/areas' )
                    .then( function(res){
                        me.lista_areas = res.data.areas; } )
                    .catch( function(error){
                        console.log(error); } )
            },
            listarProfesor(pagina, buscar) {
                let me = this;
                axios.get( '/profesor?page=' + pagina + '&buscar=' + buscar )
                    .then( function(res){
                        me.lista_profesores = res.data.profesores.data;
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.clave) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa la clave del profesor');
                }
                if(!me.nombre) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el nombre del profesor');
                }
                if(!me.email) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el email del profesor');
                }
                if(!me.telefono) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el telefono del profesor');
                }
                if(me.id_area == 0) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona el area del profesor');
                }
                return me.error == 1 ? false : true;
            },
            registrar() {
                let me = this;
                if( me.validar() ) {
                    axios.post('/profesor', {
                            'clave': me.clave,
                            'nombre': me.nombre,
                            'email': me.email,
                            'id_area': me.id_area,
                            'telefono': me.telefono,
                        } )
                        .then( function(res){
                            me.init();
                            swal({ type: 'success', title: 'El registro se ha guardado!', showConfirmButton: false, timer: 1500 })
                            me.listarProfesor( 1, me.buscar );
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
            },
            actualizar() {
                let me = this;
                if( me.validar() ) {
                    axios.put('/profesor/' + me.clave, {
                        'clave': me.clave,
                        'nombre': me.nombre,
                        'email': me.email,
                        'id_area': me.id_area,
                        'telefono': me.telefono,
                    })
                    .then( function(res){
                        me.init();
                        swal({ title: "Información", text: "El registro se ha actualizado!", icon: "success", button: "Aceptar", });
                        me.listarProfesor( 1, me.buscar );
                    } )
                    .catch( function(error){
                        console.log('Error: ' + error)
                    } );
                }
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.getAreas();
                if(accion == 'cre') {
                    this.modal = 1;
                    this.accion = 1;
                }
                else if(accion == 'upd'){
                    this.modal = 1;
                    this.accion = 2;
                    this.clave = data.clave;
                    this.nombre = data.profesor;
                    this.email = data.email;
                    this.telefono = data.telefono;
                    this.id_area = data.id_area;
                }
            },
            activar(clave, estado) {
                let me = this;
                var url = estado == 1 ? '/profesor/activar/clave' : 'profesor/desactivar/clave';
                var titulo = estado == 1 ? 'Dar de alta?' : 'Dar de baja?';
                var mensaje = estado == 1 ? 'Registro dado de alta!' : 'Registro dado de baja!';
                const swalWithBootstrapButtons = swal.mixin({
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                })
                swalWithBootstrapButtons({
                    title: titulo,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                    }).then((result) => {
                    if (result.value) {
                        let me = this;
                        axios.put( url , {
                            'clave': clave
                        })
                        .then( function(res){
                            me.listarProfesor( 1, me.buscar );
                            swal({
                                type: 'success',
                                title: mensaje,
                                showConfirmButton: false,
                                timer: 1300
                            })
                        } )
                        .catch( function(error){;
                            console.log(error);
                        } )
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                    ) { }
                })

            },
        },
        mounted() {
            console.log('Componente Profesor mounted.')
            this.listarProfesor( 1, this.buscar );
        }
    }
</script>
<style>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .error{
        text-align: center;
        color: #B22305;
        font-style: oblique;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
