<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
        <!--    INDEX    -->        
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> Semestre
                                <button type="button" class="btn btn-success" @click="abrirModal('Registrar area.', 'cre')">
                                    &nbsp;Nuevo
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" v-model="buscar" @keyup.enter="listarSemestre(1, buscar)" class="form-control" placeholder="Semestre a buscar">
                                            <button type="submit" @click="listarSemestre(1, buscar)" class="btn btn-primary"> Buscar</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-success" @click="listarSemestre(1,'','')"> Recargar</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Opciones</th>
                                            <th>Semestre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in lista_semestres">
                                            <td width="15%">
                                                <button type="button" class="btn btn-warning btn-sm" @click="abrirModal('Actualizar semestre', 'upd', item)"> Actualizar </button>
                                            </td>
                                            <td v-text="item.semestre">  </td>  
                                        </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">Ant</a>
                                        </li>
                                        <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                        </li>
                                        <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">Sig</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </template>
        <!---->

        <!--    FORM AGREGAR/ACTUALIZAR    -->
                <template v-if="flag_nuevo == 1">
                    <div class="" style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div class="form-group row">
                                <font v-text="titulo_modal" size="6"> </font>
                                <table class="table">
                                    <tr>
                                        <td>    <font size="3"> Semestre: </font>    </td>
                                        <td>    <input type="text" v-model="semestre" class="form-control" placeholder="Descripcion del semestre">   </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" @click="cerrar()">Atrás</button>
                                            <button type="button" class="btn btn-primary" v-if="accion==1" @click="registrar()">Registrar</button>
                                            <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizar()">Actualizar</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                
                            </div>
                        </div>
                        
                    </div>
                </template>
        <!---->
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {
                id: 0,
                lista_semestres: [],
                buscar: '',
                paginacion: {
                    'total': 0,
                    'pagina_actual': 0,
                    'por_pagina': 0,
                    'ultima_pagina': 0,
                    'desde': 0,
                    'hasta': 0
                },
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                semestre: '',
                accion: 0,
                flag_nuevo: 0
            }
        },
        computed: {
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            cerrar(){
                this.flag_nuevo = 0;
                this.errores = [];
                this.buscar = '';
                this.id = 0;
                this.semestre = '';
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina;
                this.listarSemestre(pagina, buscar);
            },
            listarSemestre(pagina, buscar) {
                let me = this;
                axios.get( '/semestre?page=' + pagina + '&buscar=' + buscar )
                    .then( function(res){
                        me.lista_semestres = res.data.semestres.data;
                        me.paginacion = res.data.paginacion;
                    } )
                    .catch( function(error){
                        console.log(error);
                    } )
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.semestre) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa descripcion del semestre');
                }
                return me.error == 1 ? false : true;
            },

            registrar() {
                let me = this;
                if( me.validar() ) {
                    axios.post('/semestre', {
                            'semestre': me.semestre
                        } )
                        .then( function(res){
                            me.init();
                            swal({ type: 'success', title: 'El registro se ha guardado!', showConfirmButton: false, timer: 1500 })
                            me.listarSemestre( 1, me.buscar );
                        } )
                        .catch( function(error){
                            console.log('Error: ' + error)
                        } )
                }
            },
            actualizar() {
                let me = this;
                if( me.validar() ) {
                    axios.put('/semestre/' + me.id, {
                        'id': me.id,
                        'semestre': me.semestre
                    })
                    .then( function(res){
                        me.init();
                        swal({ title: "Información", text: "El registro se ha actualizado!", icon: "success", button: "Aceptar", });
                        me.listarSemestre( 1, me.buscar );
                    } )
                    .catch( function(error){
                        console.log('Error: ' + error)
                    } );
                }
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                if(accion == 'cre') {
                    this.modal = 1;
                    this.accion = 1;
                }
                else if(accion == 'upd'){
                    this.modal = 1;
                    this.accion = 2;
                    this.id = data.id;
                    this.semestre = data.semestre;
                }
            },
            init() {
                this.id = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.semestre = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
            },
        },
        mounted() {
            console.log('Componente Semestre mounted.')
            this.listarSemestre( 1, this.buscar );
        }
    }
</script>
<style>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .error{
        text-align: center;
        color: #B22305;
        font-style: oblique;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
